<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length > 0) { %>
                    <ul class="cart__item-list">
                        <% products.forEach(p => { %>
                            <li class="cart__item">
                                <h1>
                                    <%= p.productId.title %>
                                </h1>
                                <h2>Quantity:
                                    <%= p.quantity %>
                                </h2>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
                        <hr>
                        <div class="centered">
                            <h1>Total Amount:
                                <%= totalSum %>
                            </h1>
                        </div>
                        <div class="centered">
                            <button class="btn" id="order-btn">Pay and Order</button>
                        </div>
            </main>
            <%- include('../includes/end.ejs') %>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_5WXh2FKrYjLqawHGET675yWU');
                    $('#order-btn').click(function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        })
                    });
                </script>